body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.list-group-item {
  border: none;
}

.btn-primary {
  background-color: saddlebrown;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.btn-primary:hover {
  background-color: saddlebrown;
}

.modal-header {
  border: none;
}

.modal-title {
  width: 100%;
}

.modal-title, .modal-content {
  text-align: center;
}
